

@model TheNorthernHandyman.Models.MailModel

@{
    ViewBag.Title = "Contact | TheNorthernHandyman";
    
}
<<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    <h4>Questions...</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="jumbotron">
    <div class="row">

        <form class="form-horizontal">
            <fieldset>
                <legend>Questions...</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Your Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" placeholder="Email Address" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <fieldset>
<legend>
Send Email
</legend>
@using (Html.BeginForm())
{
@Html.ValidationSummary()
<p>From: </p>
<p>@Html.TextBoxFor(m => m.From)</p>
 <p>To: </p>
<p>@Html.TextBoxFor(m => m.To)</p>
<p>Subject: </p>
<p>@Html.TextBoxFor(m => m.Subject)</p>
 <p>Body: </p>
<p>@Html.TextAreaFor(m => m.Body)</p>
<input type ="submit" value ="Send" />
}  </fieldset>


        <div class="row">
            <address>
                <strong>Location :</strong><br />
                N5043 Larry Rd.<br />
                New London, WI 54961<br />
                <abbr title="Phone"></abbr>
                920.277.5947
            </address>
            <address>
                <strong>Email Me :</strong><a href="mailto:TheNorthernHandyman@gmail.com">TheNorthernHandyman@gmail.com</a><br />
            </address>
            </div>
        </div>
    </div>




<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>
</footer>
