
@{
    ViewBag.Title = "Images | TheNorthernHandyman";
}

<h2>Images</h2>

<div class="jumbotron">

            @foreach (var image in (IEnumerable<string>)ViewBag.Images)
            {

                <img src="@Url.Content(image)" alt="TheNorthernHandyman" />

            }



</div>

<div class="navbar navbar-inverse navbar-left">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Services", "Services", "Home")</li>
                <li>@Html.ActionLink("Images", "Images", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

@*@foreach (FileInfo fi in Model)
{
    string test = fi.FullName;
    <img src="@Url.Content(test)" />

}*@
